<!-- Alex Wolski:
     Course: CSc 648 Software Engineering Summer 2019 Team 2

     Page that describes the team's motivation to create the website.
     Also includes links to everyone's personal page.

-->

<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144569863-2"></script>
  <!-- These links and scripts provide us with Bootstrap, fonts, icons: -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.10.1/css/v4-shims.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|
                Cormorant+Garamond:700|Crimson+Text|Darker+Grotesque:500|Kreon&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- imports -->
  <link href="css/index.css" rel="stylesheet">
  <link href="css/about.css" rel="stylesheet">
  <script type="text/javascript" src="js/navbar.js"></script>
  <script type="text/javascript" src="js/auth.js"></script>
  <script type="text/javascript" src="js/auth.js"></script>
</head>

<body>
  <!-- Will be populated with the html for the navbar on startup -->
  <div id="navbar-placeholder"></div>

  <div align="center">
    <div class="jumbotron" style="width: 75%; margin: 2%; font-family: san-serif;">
  		<h2 style="font-weight: 700; font-size: 250%">About</h2>
  		<br/>

  		<p>This website is being developed by a team of 7 SFSU students</p>

  		<p>We all share a passion for the environment and started this project to make our community cleaner and safer</p>

  		<p>VVV Click on a developer's name to learn more about them VVV</p>
    </div>

    <div class="container">
      <div><button class="btn btn-outline-primary teamButton"  onclick="goToPage('alex')">
        Alex Wolski
      </button></div>

  		<div><button class="btn btn-outline-primary teamButton" onclick="goToPage('david')">
        David Stillwagon (Ryan)
      </button></div>

      <div><button class="btn btn-outline-primary teamButton"  onclick="goToPage('evan')">
        Evan Guan
      </button></div>

  		<div><button class="btn btn-outline-primary teamButton"  onclick="goToPage('harsh')">
        Harshveer Saini (Harsh)
      </button></div>

  		<div><button class="btn btn-outline-primary teamButton"  onclick="goToPage('lidiya')">
        Lidiya Jebessa
      </button></div>

  		<div><button class="btn btn-outline-primary teamButton"  onclick="goToPage('sunny')">
        Sunny Srijan
      </button></div>

      <div><button class="btn btn-outline-primary teamButton"  onclick="goToPage('tristan')">
        Tristan Mclennan
      </button></div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript">
  //imports
  loadNavbar();

  //page navigation
  function goToPage(page) {
	window.location.href = '/about/' + page;
  }

  //google analytics
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-144569863-2');
</script>