<html>
<head>
<title>
    CSC 648 - Evan Guan
</title>
</head>
<body>
	<div class="big-btn"><button onclick="home()">Back</button></div>
    <h2>Evan Guan</h2>
    <img src="images/evan.jpg" width="476" height="480">
    <p>Hi! I'm a computer science undergrad at SFSU.</p>
	
    <p>Email: eguan3@mail.sfsu.edu</p>
    <a href="https://jammypajamies.com">Website</a>
	<br>
    <a href="https://github.com/jammypajamies">Github</a>

    <script>
    	function home() {
    					var xmlReq = new XMLHttpRequest();

			xmlReq.onload = function() {
				if (xmlReq.status == 200)
					window.location.href = "index.html";
			}

			xmlReq.open('GET', '/', true);
			xmlReq.responseType = "document";
			xmlReq.send();
    	}
    </script>
</body>
</html>