<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="css/index.css" rel="stylesheet">
</head>

<body onload="getCategories()">
    <div class="topnav">
        <a class="active" href="/index">Home</a>
        <a href="/team">Team</a>
        <a href="/about">About</a>

        <div class="login-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Password" name="psw">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <div class="header">
        <form>
            <h1>Safe SF</h1>
            <h2>Lets Start your search</h1>
            <div class="form-box">
                <div class="dropdown">
                    <button class="dropbtn" id="categoryButton">Categories</button>
                    <div class="dropdown-content" id="categoryDropDown">
                    </div>
                </div>

                <input class="search-field location" name="location" type="text" placeholder="location"/>
                <button class="search-btn" type="button" onclick="search()">search</button>
            </div>
        </form>

        <div id="table">
        </div>
    </div>

    <script>
        function getCategories() {
            var xmlReq = new XMLHttpRequest();

            xmlReq.onload = function() {
                if (xmlReq.status == 200)
                    populateCategories(xmlReq.response);
            }

            xmlReq.open('GET', '/categories', true);
            xmlReq.responseType = "json";
            xmlReq.send();
        }

        function populateCategories(jsonData) {
            var dropDown = document.getElementById("categoryDropDown");

            var div = document.createElement("div");
            div.innerHTML = "<a href='javascript:void(0);' onclick=\"selectCategory('None')\">None</a>";
            dropDown.appendChild(div);

            for(var i = 0; i < jsonData.length; i++)
            {
                div = document.createElement("div");
                div.innerHTML = "<a href='javascript:void(0);' onclick=\"selectCategory('" + jsonData[i].category + "')\">" + jsonData[i].category + "</a>";
                dropDown.appendChild(div);
            }
        }

        function selectCategory(category) {
            var categoryButton = document.getElementById("categoryButton");

            if(category === "None")
                categoryButton.innerHTML = "Categories";
            else
                categoryButton.innerHTML = category;
        }

    	function search() {
    		var xmlReq = new XMLHttpRequest();

			xmlReq.onload = function() {
				if (xmlReq.status == 200)
                    createTable(xmlReq.response);
			}

			xmlReq.open('GET', '/search', true);
			xmlReq.responseType = "json";
			xmlReq.send({ "category" : "All", "neighborhood" : "All", "park_name" : "All", "user_entry" : "" });
    	}

        function createTable(jsonData) {
            var table = document.createElement("table");

            for(var i = 0; i < Math.ceil(jsonData.length/5); i++)
            {
                var row = table.insertRow(-1);

                for(var j = 0; j < 5; j++)
                {
                    var cell = row.insertCell(-1);

                    if(i*5 + j < jsonData.length)
                    {
                        var report = jsonData[i*5 + j];
                        cell.innerHTML = "<div class='card'><div>" + report.category + "</div><div>" +
                                          report.report_details + "</div><div>" +
                                          report.location_id + "</div><div>" +
                                          report.report_insert_date + "</div><div>" +
                                          report.report_status + "</div></div>";
                    }
                }
            }

            var tableContainer = document.getElementById("table");
            tableContainer.innerHTML = "";
            tableContainer.appendChild(table);
        }
    </script>
</body>

</html>