<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div><button onclick="goToPage('davids')">David Stillwagon (Ryan)</button></div>
	<div><button onclick="goToPage('harshs')">Harshveer Saini (Harsh)</button></div>
	<div><button onclick="goToPage('tristans')">Tristan Mclennan</button></div>
        <div><button onclick="goToPage('Sunny')">Sunny Srijan (Sunny)</button></div>

	<script>
		function goToPage(page) {
			var xmlReq = new XMLHttpRequest();

			xmlReq.onload = function() {
				if (xmlReq.status == 200)
					window.location.href = page + ".html";
			}

			xmlReq.open('GET', '/' + page, true);
			xmlReq.responseType = "document";
			xmlReq.send();
		}
	</script>
</body>

</html>
