<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144569863-2"></script>
    <!-- These links and scripts provide us with Bootstrap, fonts, icons: -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.10.1/css/v4-shims.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|
                Cormorant+Garamond:700|Crimson+Text|Darker+Grotesque:500|Kreon&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- imports -->
    <link rel="stylesheet" type="text/css" href="./css/standard.css">
    <link href="css/registration.css" rel="stylesheet">
    <script type="text/javascript" src="js/navbar.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="js/auth.js"></script>
  </head>
  <body onload="loadNavbar();">
    <!-- Will be populated with the html for the navbar on startup -->
    <div id="navbar-placeholder"></div>

    <div class="container" style="margin-top: 2%" id="form-container" novalidate> <!-- registration form -->
      <div class="row justify-content-center">
        <div class="card bg-light w-50 align-items-center" style="min-width: 450px;">
          <h1 class="card-header w-100" style="text-align:center; font-family: 'Crimson Text', serif; font-weight: 700;">Registration</h1>
          <div class="col-lg-10">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <form id="registration-form" action="/requestRegister" method="post" role="form" enctype="multipart/form-data">

                    <!-- Inside the form now. Good to add form elements. -->
                    <div class="form-group mx-1">
                      <div class="align-left-labels">
                        <label for="username_entry">Please enter a username.
                          <strong style='color: red'> *</strong>
                        </label>
                      </div>
                      <input name='username' class="form-control" id="username" type="username" placeholder="Enter Username" required>
                      <strong style='color: red'><div id="usernameValidity" style="font-size:80%"></div></strong>
                    </div>

                    <div class="form-group mx-1">
                      <div class="align-left-labels">
                        <label for="email_entry">Please enter your email address.
                          <strong style='color: red'> *</strong>
                        </label>
                      </div>
                      <input name='email' class="form-control" id="email" type="email" placeholder="Your Email" required>
                      <strong style='color: red'><div id="emailValidity" style="font-size:80%"></div></strong>
                    </div>

                    <div class="form-group mx-1">
                      <div class="align-left-labels">
                        <label for="password_entry">Please enter a password.
                          <strong style='color: red'> *</strong>
                        </label>
                      </div>
                      <input name='password' class="form-control" id="psw" type="password" placeholder="Enter Password" data-toggle="password" required>
                      <strong style='color: red'><div id="passwordValidity" style="font-size:80%"></div></strong>
                    </div>

                    <div class="form-group mx-1">
                      <div class="align-left-labels">
                        <label for="passwordp_repeat_entry">Please repeat the password.
                          <strong style='color: red'> *</strong>
                        </label>
                      </div>
                      <input name='passwordConfirmation' class="form-control" id="psw-confirmation" type="password" placeholder="Repeat Password" required>
                      <strong style='color: red'><div id="passwordConfirmationValidity" style="font-size:80%"></div></strong>
                    </div>

                    <div class="text-center">
                      <div class="inline form-group" style= "margin-left: 20px;">
                        <div class='policy-agreement-area'>
                          <label class="form-check-label" for="invalidCheck" style="font-size:80%">
                            <input name='agreedToTerms' id="gridCheck" class="form-check-input" type="checkbox" required>
                            <strong style='color: red'>*</strong>I agree to the <a href="">Terms of Service & Privacy Policy</a></input>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <label style="font-size:80%">Fields with <strong style='color: red'>*</strong> are required to continue.</label>
                    </div>

                    <div class="text-center">
                      <div class="form-group mx-1">
                        <div class="inline form-group">
                          <div id="captchaElement" class="g-recaptcha" data-sitekey="6LfbkLEUAAAAAE7agK7poUyOO0D_RcZOFjnVM2Jp"
                            data-callback="onReCAPTCHASuccess"></div>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <div class="form-group">
                        <button id='submit-button' style="border-width: 2px; font-size:150%;" class="btn-outline-primary registerBtn btn-send" type="button" disabled='true'>Submit Registration</button>
                      </div>
                    </div>
                  </form> <!-- registration form -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end card -->
      </div>
    </div>

    <script type="text/javascript" src="js/validator.min.js"></script>
    <script type="text/javascript" src="js/captcha.js"></script>
    <script type="text/javascript" src="js/registration.js"></script>
  </body>
</html>

<script type="text/javascript">
  //imports
  loadNavbar();

  //google analytics
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-144569863-2');
</script>
