<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144569863-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-144569863-2');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- These links and scripts provide us with Bootstrap, fonts, icons: -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.10.1/css/v4-shims.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|
                Cormorant+Garamond:700|Crimson+Text|Darker+Grotesque:500|Kreon&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- imports -->
    <link rel="stylesheet" type="text/css" href="./css/standard.css">
    <link href="css/registration.css" rel="stylesheet">
    <script type="text/javascript" src="js/captcha.js"></script>
    <script type="text/javascript" src="js/registration.js"></script>
    <script type="text/javascript" src="js/navbar.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="js/auth.js"></script>
  </head>
  <body onload="loadNavbar();">
    <!-- Will be populated with the html for the navbar on startup -->
    <div id="navbar-placeholder"></div>

    <div class="container" id="form-container" novalidate> <!-- registration form -->
      <div class="row justify-content-center">
        <form id="registration-form" action="/requestRegister" method="post" role="form">
          <div class="text-center">
            <div style="text-align:center">
              <br>
              <h1 style="font-weight: 700">Registration</h1>
              <br>
            </div>
          </div>

          <div >
            <!-- Inside the form now. Good to add form elements. -->
            <div class="form-group">
              <label for="username_entry">Please enter a username.
                <strong style='color: red'> *</strong>
              </label>
              <input name='display_name' class="form-control" id="username" placeholder="Enter Username" required>
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="email_entry">Please enter your email address.
                <strong style='color: red'> *</strong>
              </label>
              <input name='email' class="form-control" id="email" placeholder="Your Email" required>
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="password_entry">Please enter a password.
                <strong style='color: red'> *</strong>
              </label>
              <input name='password' class="form-control" id="psw" placeholder="Enter Password" required>
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="passwordp_repeat_entry">Please repeat the password.
                <strong style='color: red'> *</strong>
              </label>
              <input name='passwordConfirmation' class="form-control" id="psw-repeat" placeholder="Repeat Password" required>
            </div>
          </div>

          <div class="text-center">
            <label style="font-size:80%">Fields with <strong style='color: red'> *</strong> are required to continue.</label>
          </div>

          <div class="text-center">
            <div class="form-group">
              <div class='policy-agreement-area'>
                <label class="form-check-label" for="invalidCheck" style="font-size:80%; display: inline;">
                  <input name='agreedToToS' id="gridCheck" class="form-check-input" type="checkbox" required>
                  I Agree to the <a href="">Terms of Service & Privacy Policy</a></input>
                </label>
              </div>
            </div>
          </div>

          <div class="text-center">
            <div class="form-group">
              <div id="captchaElement" class="g-recaptcha" data-sitekey="6LfbkLEUAAAAAE7agK7poUyOO0D_RcZOFjnVM2Jp"
                data-callback="onReCAPTCHASuccess"></div>
            </div>
          </div>

          <div class="text-center">
            <div class="form-group">
              <button id='submit-button' class="btn btn-primary btn-lg" type="submit" disabled='true'>Submit Registration</button>
            </div>
          </div>
        </form> <!-- registration form -->
      </div>
    </div>

    <!-- imports -->
    <script type="text/javascript">
        loadNavbar();
    </script>
  </body>
</html>
