<!-- First draft of Report Submission page:                                                                                -->
<!-- Tristan Mclennan, Evan Guan - CSC 648 Software Engineering Summer 2019 Team 2 -->

<!DOCTYPE html>
<html>

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144569863-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-144569863-2');
  </script>

  <title>Submit a Report</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet" >
  <link href="https://use.fontawesome.com/releases/v5.10.1/css/v4-shims.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|
              Cormorant+Garamond:700|Crimson+Text|Darker+Grotesque:500|Kreon&display=swap"  rel="stylesheet">
  <link href="css/report-submission.css" rel="stylesheet">
  <!-- <style>
    #map {
      margin: 0 auto 0 auto;
      height: 500px;
      width: 100%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style> -->
  <script type="text/javascript" src="js/report-submission.js"></script>
  <script type="text/javascript" src="js/report-submission-map.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<!-- getCategories and getLocation are needed to populate dropdown menus
     these are called on the loading of the page -->
<body onload="getCategories(); getLocations()">

  <!-- Search icon -->
    <!-- <i class="fas fa-search"></i> -->
 <container-fluid>

    <!-- <h5 style="background-color: #aee7e8; font-family: 'Crimson Text', serif; font-style: italic;
      text-align: center; padding: 5px; margin-bottom: 0px;">  -->
      <h5 style="background-color: black; color:white;  font-family: 'Crimson Text', serif; font-style: italic;
      text-align: center; padding: 5px; margin-bottom: 0px;"> 
      SFSU Software Engineering Project CSC 648-848, Summer 2019.  For Demonstration Only
    </h5>


 </container>

  <!-- Standard dark navbar - collapsable into reduced menu for small screen sizes: -->
    <nav class="navbar fixed top navbar-expand-lg navbar-dark" style="background-color: #248ea9;">
        <a class="navbar-brand" href="/">SF Safe</a>

        <form class="form-inline mx-auto">
            <input class="form-control mr-lg-2" style="width: 240px" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sfsafeNavbar" aria-controls="sfsafeNavbar" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="sfsafeNavbar">

            <!-- <form class="form-inline mx-auto">
                <input class="form-control form-control-lg mr-lg-2" style="width: 240px" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-lg btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form> -->

            <span class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/register"><span class="fa fa-user"></span> Sign Up</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
              </span>
        </div>
    </nav>




  <div class="container" id="form-container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">

        <div style="text-align:center">
          <hr>
          <h1 style="font-weight: 700">Hazard Report Submssion:</h1>
          <hr>
        </div>

        <!--  This form serves to take in hazard details and metadata from the user. The request object is
              sent to the "/reports" endpoint for processing.

              Posts a JSON object in the following format:
              {category_id, location_id, park_id, details, loc_lat, loc_long, user_id, image_ref}   -->
        <form id="results-form" action="/submitReport" method="post" role="form">
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label for="dropdown-content">Category 
                  <strong style='color: red'> *</strong>
                </label>

                <select class="form-control" name="category_id" id="categoryDropDown" equired="required">
                  <option>Please Select One</option>
                </select>
              </div>

              <hr>

              <div class="form-group">
                <label for="dropdown-content">Neighborhood 
                    <strong style='color: red'> *</strong>
                </label>
                <select class="form-control" name="location_id" id="locationDropDown">
                  <option>Please Select One (Optional)</option>
                </select>
              </div>

              <hr>

              <div class="form-group">
                <label for="dropdown-content">Park Name</label>
                <select class="form-control" name="park_id" id="park_name">
                  <option>Please Select One (Optional)</option>
                  <option>dolores park</option>
                  <option>golden gate</option>
                  <option>alamo square</option>
                </select>
              </div>

              <hr>

              <div class="form-group">
                <label for="user_entry">Please enter a description: 
                    <strong style='color: red'> *</strong>
                </label>
                <textarea class="form-control" name="details" id="user_entry" rows="3"></textarea>
              </div>


              <!-- These hidden input elements serve to bundling latitude, longitude, and user_id data into our JSON.
                  We insert the appropriate value in through the DOM, then all the data is compiled and
                  sent via form action -->

              <div class="form-group">
                <input type="hidden" step="0.000000001" class="form-control" name="loc_lat" id="loc_lat">
              </div>

              <div class="form-group">
                <input type="hidden" step="0.000000001" class="form-control" name="loc_long" id="loc_long">
              </div>

              <div class="form-group">
                <input type="hidden" step="0.000000001" class="form-control" name="user_id" id="user_id" value=1>
              </div>

            </div>
          </div>

          <!--- This element holds the map. --->

          <hr>

          <h3 style="text-align: center; font-weight: 600;">Please drag the red marker to location of incident:</h3>
          <br>
          <div id="map"></div>
          <p id="currentCoords"></p>
          <hr>


          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="picture">Please choose a picture to submit:
                    <strong style='color: red'> *</strong>
                </label>
                <input type="file" class="form-control-file" name="image_ref" id="image_ref">
              </div>
            </div>
          </div>    
                
          <hr>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div id="captchaElement" class="g-recaptcha" data-sitekey="6LfbkLEUAAAAAE7agK7poUyOO0D_RcZOFjnVM2Jp" data-callback="onReCAPTCHASuccess"></div>
                <br/>
                <input id="submit-button" type="submit" class="btn btn-outline-primary btn-send" value="  Submit Report  " disabled="true">
              </div>
            </div>
          </div>

      </div>
      </form>
      <!-- /.form -->
    </div>
    <!-- /.8 -->
  </div>
  <!-- /.row-->
  </div>
  <!-- /.container-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyuM-hX7dGj7gXBfLXyuwvAEhZo4sxj18&libraries=geometry&callback=initMap" async defer></script>


</body>

</html>
