<!-- First draft of Report Submission page:                                                                                -->
<!-- Tristan Mclennan, Evan Guan - CSc 648 Software Engineering Summer 2019 Team 2 -->

<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144569863-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-144569863-2');
  </script>
  <title>Submit a Report</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <style>
    #map {
      margin: 0 auto 0 auto;
      height: 500px;
      width: 100%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script type="text/javascript" src="js/report-submission-map.js"></script>
</head>

<body onload="getCategories(); getLocations()">
  <div class="container" id="form-container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">

        <div style="text-align:center">
          <hr>
          <h2>Report Submission Page</h2>
          <hr>
        </div>

        <!--  This form takes in hazard details and meta-data from the user. The request object is
              sent to the "/reports" endpoint for processing.

              Posts a JSON object in the following format:
              {category_id, location_id, park_id, details, loc_lat, loc_long, user_id, image_ref}   -->
        <form id="results-form" action="/submitReport" method="post" role="form">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="dropdown-content">Category
                  <strong style='color: red'>*</strong>
                </label>

                <select class="form-control" name="category_id" id="categoryDropDown" equired="required">
                  <option>Please Select One</option>
                </select>
              </div>

              <hr>

              <div class="form-group">
                <label for="dropdown-content">Neighborhood</label>
                <select class="form-control" name="location_id" id="locationDropDown">
                  <option>Please Select One (Optional)</option>
                </select>
              </div>

              <hr>

              <div class="form-group">
                <label for="dropdown-content">Park Name</label>
                <select class="form-control" name="park_id" id="park_name">
                  <option>Please Select One (Optional)</option>
                  <option>dolores park</option>
                  <option>golden gate</option>
                  <option>alamo square</option>
                </select>
              </div>

              <hr>

              <div class="form-group">
                <label for="user_entry">Please enter a description:</label>
                <textarea class="form-control" name="details" id="user_entry" rows="3"></textarea>
              </div>

              <hr>

              <!-- The hidden input elements give us a means of bundling extra data into our JSON.
                                    We insert the appropriate value in through the DOM, then all the data is compiled and
                                    sent via form action -->

              <div class="form-group">
                <input type="hidden" step="0.000000001" class="form-control" name="loc_lat" id="loc_lat">
              </div>

              <div class="form-group">
                <input type="hidden" step="0.000000001" class="form-control" name="loc_long" id="loc_long">
              </div>

              <div class="form-group">
                <input type="hidden" step="0.000000001" class="form-control" name="user_id" id="user_id" value=1>
              </div>

              <div class="form-group">
                <label for="picture">Please enter picture:</label>
                <input type="file" class="form-control-file" name="image_ref" id="image_ref">
              </div>
              <hr>
            </div>
          </div>

          <!--- This element holds the map. --->

          <h3 style="text-align: center">Please drag the red marker to location of incident:</h3>
          <br>
          <div id="map"></div>
          <p id="currentCoords"></p>
          <hr>

          <div class="row">

            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember" required> I agree to all possible terms of service.
                <div class="invalid-feedback">Check this checkbox to continue.</div>
              </label>
            </div>

            <p class="text-muted">
              <strong style='color: red'>*</strong>
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="submit" class="btn btn-outline-primary btn-send" value="Submit">
              </div>
            </div>
          </div>
      </div>
      </form>
      <!-- /.form -->
    </div>
    <!-- /.8 -->
  </div>
  <!-- /.row-->
  </div>
  <!-- /.container-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyuM-hX7dGj7gXBfLXyuwvAEhZo4sxj18&libraries=geometry&callback=initMap" async defer></script>

  <script>
    var categories;
    var locations;

    function getCategories() {
      var xmlReq = new XMLHttpRequest();

      xmlReq.onload = function() {
        if (xmlReq.status == 200) {
          categories = xmlReq.response
          console.log(categories);
          populateDropdown(categories, "category");
        }
      }

      xmlReq.open('GET', '/categories', true);
      xmlReq.responseType = "json";
      xmlReq.send();
    }

    function getLocations() {
      var xmlReq = new XMLHttpRequest();

      xmlReq.onload = function() {
        if (xmlReq.status == 200) {
          locations = xmlReq.response
          console.log(locations);
          populateDropdown(locations, "location");
        }
      }

      xmlReq.open('GET', '/locations', true);
      xmlReq.responseType = "json";
      xmlReq.send();
    }

    function populateDropdown(data, field) {
      console.log(`field is ${field}`);

      if (field === "category")
        var dropDown = document.getElementById("categoryDropDown");
      else if (field === "location")
        var dropDown = document.getElementById("locationDropDown");

      // const data = JSON.parse(request.responseText);
      let option;

      for (let i = 0; i < data.length; i++) {
        option = document.createElement('option');
        if (field === "category") {
          option.text = data[i].category;
          option.value = data[i].category_id;
        } else if (field === "location") {
          option.text = data[i].location;
          option.value = data[i].location_id;
        }
        dropDown.add(option);
      }

      // var div = document.createElement("div");
      // div.innerHTML = "<a href='javascript:void(0);' onclick=\"selectDropdown('None', '" + field + "')\">None</a>";
      // dropDown.appendChild(div);

      // for(var i = 0; i < jsonData.length; i++)
      // {
      //     if(field === "category")
      //         var selection = jsonData[i].category;
      //     else if(field === "location")
      //         var selection = jsonData[i].location;

      //     div = document.createElement("div");
      //     div.innerHTML = "<a href='javascript:void(0);' onclick=\"selectDropdown('" + selection + "', '" + field + "')\">" + selection + "</a>";
      //     dropDown.appendChild(div);
      // }
    }
  </script>

</body>

</html>
