<!-- First draft of Report Submission page:                                                                                -->
<!-- Tristan Mclennan, Evan Guan - CSc 648 Software Engineering Summer 2019 Team 2 --> 

<!DOCTYPE html>
<html>
  <head>
    <title>Submit a Report</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #map {margin: 0 auto 0 auto; height: 500px; width: 100%; }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
    </style>

    <script type="text/javascript" src="js/ReportSubmissionMapExample.js"></script>
  </head>

  <body>
    <div class="container" id="form-container">
      <div class="row">
          <div class="col-xl-8 offset-xl-2">

              <div style="text-align:center">
                <hr>
                <h2>Report Submission Page</h2>
                <hr>
              </div>

          <!--  This form takes in hazard details and meta-data from the user. The request object is 
                sent to the "/reports" endpoint for processing.
          
                Posts a JSON object in the following format: 
                  {category_id, location_id, park_id, details, loc_lat, loc_long, user_id, image_ref}   -->
              <form id="results-form" action="/reports" method="post" role="form">
                    <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="dropdown-content">Category 
                                        <strong style='color: red'>*</strong>  
                                    </label>
 
                                    <select class="form-control" name="category_id" id="category" equired="required">
                                      <option>Please Select One</option>
                                      <option>oil</option>
                                      <option>animal</option>
                                      <option>street</option>
                                      <option>pothole</option>
                                    </select>
                                  </div>

                                  <hr>

                                <div class="form-group">
                                    <label for="dropdown-content">Neighborhood</label>
                                    <select class="form-control" name="location_id"id="neighborhood">
                                      <option>Please Select One (Optional)</option>
                                      <option>mission</option>
                                      <option>sunset</option>
                                      <option>richmond</option>
                                    </select>
                                  </div>

                                  <hr>

                                  <div class="form-group">
                                        <label for="dropdown-content">Park Name</label>
                                        <select class="form-control" name="park_id" id="park_name">
                                          <option>Please Select One (Optional)</option>
                                          <option>dolores park</option>
                                          <option>golden gate</option>
                                          <option>alamo square</option>
                                        </select>
                                  </div>

                                  <hr>

                                  <div class="form-group">
                                      <label for="user_entry">Please enter a description:</label>
                                      <textarea class="form-control" name="details" id="user_entry" rows="3"></textarea>
                                  </div>

                                  <hr>

                                  <!-- The hidden input elements give us a means of bundling extra data into our JSON.
                                    We insert the appropriate value in through the DOM, then all the data is compiled and 
                                    sent via form action -->

                                  <div class="form-group" hidden>
                                      <input type="number" step="0.0000001" class="form-control" name="loc_lat" id="loc_lat">
                                  </div>

                                  <div class="form-group" hidden>
                                      <input type="number" step="0.0000001" class="form-control" name="loc_long" id="loc_long">
                                  </div>

                                  <div class="form-group" hidden>
                                      <input type="number" step="0.0000001" class="form-control" name="user_id" id="user_id" value=1>
                                  </div>

                                  <div class="form-group">
                                      <label for="picture">Please enter picture:</label>
                                      <input type="file" class="form-control-file" name="image_ref" id="image_ref">
                                    </div>
                                <hr>
                            </div>
                        </div>
                  
                    <!--- This element holds the map. --->

                                <h3 style="text-align: center">Please drag the red marker to location of incident:</h3>
                                <br>
                                <div id="map" ></div>
                                <p id="currentCoords"></p>
                                <hr>

                    <div class="row">
                        
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember" required> I agree to all possible terms of service.
                                <div class="invalid-feedback">Check this checkbox to continue.</div>
                            </label>
                        </div>

                        <p class="text-muted" >
                            <strong style='color: red'>*</strong> 
                        </p>      
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="submit" class="btn btn-outline-primary btn-send" value="Submit"> 
                            </div>
                        </div>
                    </div>   
                </div>
            </form>
            <!-- /.form -->
          </div>
          <!-- /.8 -->
      </div>
      <!-- /.row-->
    </div>
    <!-- /.container-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyuM-hX7dGj7gXBfLXyuwvAEhZo4sxj18&callback=initMap"
            async defer></script>

  </body>
</html>