

/* Chosen Color Scheme: */

/*  Darkest:   #248ea9
               #28c3d4
               #aee7e8
   Lightest:   #f4f4f4      */

/* Fonts available through google CDN:

  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|
              Cormorant+Garamond:700|Crimson+Text|Darker+Grotesque:500|Kreon&display=swap"rel="stylesheet">

  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Crimson Text', serif;
  font-family: 'Darker Grotesque', sans-serif;
  font-family: 'Kreon', serif; */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

label {
  font-weight:700;
  font-size:125%;
  /* font-family: 'Crimson Text', serif; */
}

form {
  min-width: 400px;
  max-width: 600px;
}

.text-center {
    text-align: center;
}

.g-recaptcha {
  margin-top: 10px;
  display: inline-block;
}


/* Set a style for the submit button */
/* #registerbtn {
  background-color: #f4f4f4;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
  width: 100%;
}

#registerbtn:hover {
  opacity: 1;
} */

.registerbtn {
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    background-color: white;
    border-color: #248ea9;
    color: #248ea9;
}

.btn-outline-primary:hover {
  background-color: #248ea9;
  border-color: white;
}

#registration-form {
  font-size:105%;
  /* font-family: 'Darker Grotesque', sans-serif; */
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Crimson Text', serif;
}
