

/* Chosen Color Scheme: */

/*  Darkest:   #248ea9
               #28c3d4
               #aee7e8
   Lightest:   #f4f4f4      */

/* Fonts available through google CDN:

  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700|
              Cormorant+Garamond:700|Crimson+Text|Darker+Grotesque:500|Kreon&display=swap"rel="stylesheet">

  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Crimson Text', serif;
  font-family: 'Darker Grotesque', sans-serif;
  font-family: 'Kreon', serif; */

  #map {
    margin: 0 auto 0 auto;
    height: 500px;
    width: 100%;
  }

  html,
  body {

    height: 100%;
    margin: 0;
    padding: 0;

  }

  /* form {
    width: 50rem;
    min-width: 20rem;
    max-width: 75rem;
  } */

  label {
    font-weight:700;
    /* font-size:125%; */
    /* font-family: 'Crimson Text', serif; */
  }

  .text-center {
    text-align: center;
  }

  .g-recaptcha {
    margin-top: 10px;
    display: inline-block;
  }

  #submit-button {
    background-color: white;
    align-content: center;
    color:#248ea9;
    padding: 14px 20px;
    margin: 20px 0;
    border-color: #248ea9;
    /* border-width: medium; */
    cursor: pointer;
    width: 100%;
    /* position: absolute; */
    /* left:80px;
    top:105px; */
    font-size: 	1.75rem;

  }

  #submit-button:hover {
    background-color:  #248ea9;
    color: white;
    border-color: white;
    border-width: medium;
  }

  #form-container {
    font-size:105%;
    /* font-family: 'Darker Grotesque', sans-serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Crimson Text', serif;
  }
